 @media (min-width: 560px) {
            :root {
                font-size: calc(0.625rem + ((1vw - 5.6px) * 0.7353));
            }
        }

        @media (min-width: 1920px) {
            :root {
                font-size: 18px;
            }
        }

        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        body {
            margin: 40px;
            font-family: "Segoe UI";
            color: #fff;
            background: -webkit-linear-gradient(to bottom right, #71affd, #92c3ff);
            background: -o-linear-gradient(to bottom right, #71affd, #92c3ff);
            background: -moz-linear-gradient(to bottom right, #71affd, #92c3ff);
            background: linear-gradient(to bottom right, #71affd, #92c3ff);
            background-color: #71affd;
        }

        .wrpr>* {
            background-color: #555;
            color: #fff;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 10px;
        }

        @supports (display: grid) {
            .wrpr>* {
                margin: 0;
            }
        }

        .header,
        .footer {
            margin-left: 5px;
            margin-right: 5px;
            flex: 0 1 100%;
            grid-column: 1 / -1;
        }

        .btn,
        .btn:hover,
        .rd_btn,
        .bl_btn {
            border: none;
            display: inline-block;
            padding: 8px 16px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            color: inherit;
            background-color: inherit;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
            color: #fff;
            background-color: #e8f1f8;
        }

        .bl_btn,
        .hbl_btn:hover {
            color: #fff;
            background-color: #2196f3
        }
