*,
*:before,
*:after {
  box-sizing: border-box;
}

/*--------*/

/* Create a segmented control using a radio group
// look at the following structure for an example
// css:
// .controls {
//  +segmented-controls()
// }
// html:
// <div class="controls">
//  <input id="control" type="radio" />
//  <label for="control">
//    Segmented
//  </label>
// </div>
//
// $amount - how many controls you need
// $width  - the max-width a single control will be
// $margin - margin around a single control
// $active - the active text color of a checked control*/
=segmented-controls($amount: 2, $width: 80px, $margin: 2px, $active: inherit)
  $_margin: $margin * 2
  $_width: 100% / $amount

  display: flex
  max-width: $width * $amount
  width: 100%
  position: relative
  user-select: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  position: relative
  z-index: 1
  > input
    display: none
    &:checked + label
      color: $active
    @for $i from 1 through $amount
      $index: $i - 1
      &:nth-of-type(#{$i}):checked
        ~ label:last-of-type:before
          transform: translateX(calc(#{100 * $index}% + #{$_margin * $index}))
  label
    flex: 1
    text-align: center
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    cursor: pointer
    /* we use the last label's pseudo element as the active state */
    /* to eliminate the need for an arbitrary element */
    &:last-of-type:before
      content: ""
      display: block
      max-width: calc(#{$_width} - #{$_margin})
      margin: $margin
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: -1
      transform: translateX(0)

.flight-types
  +segmented-controls(3, 112px, 0px, #3395DE)
  margin: 0 auto
  font-size: 12px
  border: 1px solid #fff
  border-radius: 3px
  color: #fff
  label
    padding: 6px 3px
    transition: color 250ms cubic-bezier(0,.95,.38,.98)
    &:before
      background: #fff
      transition: all 250ms cubic-bezier(0,.95,.38,.98)
    &:not(:last-child)
      border-right: 1px solid #fff
    
body,
html
  width: 100%
  height: 100%
  overflow: hidden
    
body
  display: flex
  justify-content: center
  align-items: center
  padding: 12px
  background-color: #3395DE

/*--------*/	
body {
  /* width sets screen to render like an iPad, remove in production */
  /* width: 768px; */
  margin: 40px;
  font-family: "Segoe UI";
  /* font-size: 30px; */
  color: #000;
  /* background: linear-gradient(to bottom, #92c3ff, #72b0fc); */
}

/* shadows */

form {
  box-shadow: 5px 5px 8px 0 #00000033, 1px 6px 10px 0 #000000b3;
  -ms-box-shadow: 5px 5px 8px 0 #00000033, 1px 6px 10px 0 #000000b3;
}

/* buttons */

input[type="button"] {
  border: none;
  display: inline;
  padding: 12px 25px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  font-size: 30px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #00000030;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* input[type="button"]:hover {
    box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #00000030;
} */

input[type="button"],
input[type="button"]:hover {
  color: #fff;
  background-color: #999;
}

.input {
  font: inherit;
  color: #fff;
}

.input {
  overflow: visible;
}

.input {
  padding: 8px;
  display: block;
  border: none;
  background: #555;
  border-bottom: 1px solid #fff;
  width: 100%;
  font-size: 20px;
}

.buttonTrue {
  background-color: #e30000 !important;
  color: yellow;
}

.radio {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}

#table1 > tbody > tr > td > div.calendar > form > select:nth-child(2) {
  font-size: 23px;
}

#SelYear {
  font-size: 23px;
}

/* Tables */

table {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #a5a5a5;
  text-align: center;
  padding: 8px;
}

/* Title Table */

body > table {
  border: none !important;
  border-color: #00000000;
  border-collapse: unset;
}

body > table > tbody > tr > td {
  background-color: #444;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* Table within Form */

form table {
  background-color: #777;
  color: #fff;
  box-shadow: 0 8px 9px 0 #00000033, 0 6px 16px 0 #00000030;
}

#table4 > tbody {
  color: black;
}

#table1 > tbody > tr {
  /* background: grey; */
}

#table1 > tbody > tr > td > div.calendar > form {
  all: unset;
}

/* Forms */

form {
  background-color: #777;
  /* margin: auto; */
  /* width: 80%; */
  /* width: auto; */
  height: 80%;
  margin-top: 50px;
  border-radius: 25px;
  border: 1px solid #000;
  padding: 30px;
  color: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

#main {
  box-shadow: none;
  border: 0px;
}

#SelTimeDiv > label:nth-child(10) {
  font-size: initial;
}

/* Legacy  */

table.calendar {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  border-collapse: collapse;
  background-color: white;
  border: solid #999999 1px;
  background-color: white;
  /* width: 200px; */
  text-align: center;
  /*prevent user from selecting text in Mozilla & Safari - check calendar constructor for IE code)*/
  -moz-user-select: none;
  /*-khtml-user-select: none;*/
}

table.calendar input,
table.calendar select {
  font-size: 10px;
}

table.calendar td {
  border: 0;
  font-size: 15px;
  text-align: center;
}

div.mainheading {
  margin: 2px;
}

table.caldayheading {
  border-collapse: collapse;
  cursor: pointer;
  empty-cells: show;
  margin: 0 6px 0 6px;
}

table.caldayheading td {
  border: solid #cccccc 1px;
  text-align: left;
  color: #0054e3;
  font-weight: bold;
  width: 22px;
  /*should match calendar cell's width*/
}

table.caldayheading td.wkhead {
  border-right: double #cccccc 3px;
}

table.calcells {
  border-collapse: collapse;
  cursor: pointer;
  margin: 0 6px 0 6px;
}

table.calcells td {
  border: solid #cccccc 1px;
  vertical-align: top;
  text-align: left;
  font-weight: bold;
  width: 22px;
  height: 20px;
  /*IE doesn't like ems*/
}

table.calcells td div {
  padding: 1px;
  margin: 0;
}

table.calcells td.wkhead {
  background-color: white;
  text-align: center;
  border-right: double #cccccc 3px;
  color: #0054e3;
}

table.calcells td.wkday {
  background-color: #dddddd;
}

table.calcells td.wkend {
  background-color: #cccccc;
}

table.calcells td.wknone {
  background-color: #ffffff;
}

table.calcells td.curdate {
}

table.calcells td.cell_selected {
  background-color: #99ccff;
  color: black;
}

table.calcells td.notmnth {
  background-color: #ffffff;
  color: #cccccc;
}

table.calcells td.notallowed {
  background-color: white;
  color: #eeeeee;
  font-style: italic;
}

div.DivHidden {
  top: 119px;
  display: none;
}

div.DivShown {
  padding-top: 50px;
  /* width: 80%; */
  display: block;
  /* position: fixed; */
  top: 60px;
  left: 10px;
  background-color: #777;
  padding: 30px;
  color: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.AttendCell {
  text-align: center;
  background-color: #cccccc;
  color: black;
}

.AttendSelect {
  text-align: center;
  background-color: #99ccff;
  color: black;
}
